.info .affix {
  top: 0;
  left: 0;
  width: 25%;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #DDDCE1;
}

.info .affix img {
  margin: 0 auto;
}

.info .objective {
  padding: 10px 20px 0 20px;
  text-align: justify;
}

.info .tags {
  text-align: left;
}

.info .tags .label {
  line-height: 24px;
}

.info .contact {
  font-weight: bold;
}

.info .contact .phone {
  font-size: 20px;
}

.details {
  padding: 10px;
}

.details .projects {
  padding-left: 20px;
}

.details .projects dd {
  padding-bottom: 10px;
}

.details .educations table {
  margin-top: 0px;
  margin-bottom: 20px;
}

.details .educations table td, .details .educations table th {
  text-align: center;
}

.details .skills .progress {
  width: 80%;
}

@media print {
  .info .affix {
    width: 100%;
    position: inherit;
  }

  .panel {
    page-break-before: always;
  }
}
