.info .affix {
  top: 0;
  left: 0;
  width: 25%;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
  background-color: #dddce1;
}
.info .affix img {
  margin: 0 auto;
}
.info .objective {
  padding: 10px 20px 0 20px;
  text-align: justify;
}
.info .objective #total_experience {
  font-weight: bold;
}
.info .tags {
  text-align: left;
}
.info .tags .label {
  line-height: 24px;
}
.info .contact {
  color: #333333;
  font-weight: bold;
}
.info .contact .phone {
  font-size: 20px;
}
.details {
  padding: 10px;
}
.details h4.panel-title .title {
  padding-left: 5px;
}
.details strong {
  padding-right: 5px;
}
.details .company {
  font-size: 18px;
  font-weight: bold;
}
.details .collapsible {
  cursor: pointer;
}
.details .collapsible .glyphion {
  padding-left: 5px;
}
.details .collapsible .projects {
  padding-left: 20px;
}
.details .collapsible .projects dd {
  padding-bottom: 10px;
}
.details .educations table {
  margin-top: 0;
  margin-bottom: 20px;
}
.details .educations table td,
.details .educations table th {
  text-align: center;
}
dl.dl-inverse dt {
  float: right;
  text-align: left;
  margin-left: 20px;
}
dl.dl-inverse dd {
  margin-left: 0;
}
.progress .progress-bar-inverse {
  float: right;
  display: block;
}
