include ../mixins/experience

+company('Artha42 Innovations Pvt. Ltd.', 'Bangalore, India', 'Technical Developer & Mentor', '22nd Feb, 2010 to 30th Sep, 2011 (1.5 years)')
  div
    ul
      li Worked in the capacity of a developer and helped build product for a startup from infancy to fruition.
      li Mentored other junior developers in following best practices and development methods.
    p
      table.table.table-bordered
        caption Worked with various technologies
        tr
          td
            strong Back End
          td Ruby on Rails
        tr
          td
            strong Datbases
          td MongoDB
        tr
          td
            strong Front End
          td Erb, Haml
        tr
          td
            strong Infrastructure
          td Amazon Services (EC2, S3)
  div
    p Clients :
    ul
      li
        a(href='https://www.apolloprism.com') PHR - Public Health Record
      li
        a(href='http://healthhiway.com/') Heahth Hiway
  // div
    +project('PHR - Public Health Record', 'https://www.apolloprism.com', '22nd Feb, 2010 to 30th Sep, 2011')
      dd
        | Aided in design&comma; architecture and development of PHR -
        | Public Health Record system designed to serve as a tool for
        | public to store and share their health information&period;
        br
        | <strong>Technology Stack</strong>: Sinatra (Ruby), MongoDB, Beanstalk, Memcached, JRuby, RabbitMQ
