include ../mixins/experience

+company('IBM India Pvt. Ltd.', 'Bangalore, India', 'Application Programmer', '18th Aug, 2006 to 4th April, 2008 (1.5 years)')
  div
    ul
      li As a java developer contributed to several in-house products
    p Worked with technologies : Java, Visual Basic, Lotus Notes, DB2
  // div
    +project('QA Tools Suite', '#', '1st Jan, 2007 to 4th Apr, 2008')
      dd
        | Aided in maintenance and development of a suite of tools
        | used internally in IBM for ensuring Quality Assurance of
        | projects&period;
        br
        | <strong>Technology Stack</strong>: Visual Basic, Java, Lotus Notes, DB2
    +project('CTF/s', '#', '18th Aug, 2006 to 1st Jan, 2007')
      dd
        | Aided in maintenance and testing of Customer Fulfillment
        | Tool &sol; Services an application fronted with a Java UI and
        | backed by mainframe jobs for processing &amp; analyzing
        | data collected from customers to assess project customer
        | fulfillment within IBM&period;
        br
        | <strong>Technology Stack</strong>: Java, Mainframes, DB2
