include ../mixins/experience

+company('SAP Labs India Pvt. Ltd.', 'Bangalore, India', 'Software Engineer', '9th Apr, 2008 to 19th Feb, 2010 (2 years)')
  div
    ul
      li Worked in the capacity of a developer and helped build a UI framework to be used for building Business User Intelligence applications
      li Contributed as a team player and demonstrated quick learning abilities in picking up new technologies & tools
    p
      table.table.table-bordered
        caption Worked with various technologies 
        tr
          td
            strong Back End
          td Ruby on Rails, Adobe Flex 3
        tr
          td
            strong Databases
          td MySQL
        tr
          td
            strong Front End
          td ActionScript, MXML, SWF, Javascript
  // div
    +project('POA BUI SBC', '#', '1st Mar, 2009 to 19th Feb, 2010')
      dd
        | Aided in design &amp; development of Performance
        | Optimization Applications - Business User Interface -
        | Shared Business Component&period;
        | A UI Framework using Adobe Flex technology based on the
        | OSGi framework specification for enabling quick development
        | of business user applications&period;
        br
        | <strong>Technology Stack</strong>: Adobe Flex
    +project('POA SBC BUC', '#', '9th Apr, 2008 to 28th Feb, 2009')
      dd
        | Aided in design &amp; development of Performance
        | Optimization Applications - Shared Business Component -
        | Business User Component&period;
        | A UI component framework using Adobe Flex technology for
        | enabling quick application development&period;
        br
        | <strong>Technology Stack</strong>: Adobe Flex
