include ../mixins/experience

+company('Tarka Labs Pvt. Ltd.', 'Bangalore, India', 'Technical Architect', '1st July, 2014 till Present (5 years)')
  div
    ul
      li Worked as a Technical Architect and helped several startups plan and execute
      li Worked on rescue projects where we analysed, advised and helped several startups in production
      li Lead development teams from the front following best practices and high code quality by means of automated tests with high test coverage.
      li Take on interesting business problems / challenges in unique ways by leveraging upcoming open source technologies.
      li Using the right tool for the right job to maximise effectiveness and scaleability.
      li Perform performance analysis and setup the right infrastructure for ensuring applications can scale.
      li Mentored juniors, code reviews and guided teams to work keeping best practices in mind.
      li Meet with potential clients, startups, understand their pain points and propose how we will be able to help them reach their goals.
    p Worked with various technology stacks & services: Node.js, React.js, Angular.js, Websockets, WebRTC, Elixir, Clojure, Ruby on Rails, Spree Ecommerce, Firebase, MySQL, MariaDB, PostgresSQL, ElasticSearch, Solr, Redis, Amazon Services (EC2, S3, Cloudfront, Opswork, ELB), Nginx, Puma, Docker.
  div
    p Clients :
    ul
      li
        a(href='https://tunecore.com') TuneCore
      li
        a(href='http://gaeaglobal.com/') Gaea Global
      li
        a(href='https://klstr.io') Klstr
      li
        a(href='http://moove.network') Moove Network
      li
        a(href='http://datacloud.com') Data Cloud
      li
        a(href='https://www.jifflenow.com') Jifflenow
      li
        a(href='https://www.aisle.co') Aisle
      li
        a(href='http://10i.co.in') 10i Services
      li
        a(href='http://mod.us') Modus Go
      li
        a(href='http://duplii.com') Duplii
  // div.
    +project('ShopX marketplace platform', 'http://www.shopxretail.com/', '1 April, 2016 till Present')
      dd
        | Lead their core ecommerce development team to streamline development
        | efforts and follow best practices.
        | Did extensive performance analysis and enhancements to their backend
        | and frontend services written using Spree ecommerce engine to help them
        | scale.
        | Also helped tweak their server infrastructure configurations for better
        | performance.
        br
        | <strong>Technology Stack</strong>: Rails, Mysql, Angularjs, Docker, Nginx
    +project('Fleet Driver Portal', 'https://github.com/JJCOINCWEBDEV/fleet-dp', '1 Sept, 2015 to 30 March, 2016')
      dd
        | Aided in design&comma; development of Fleet Driver Portal. A portal to
        | keep track of fleet of drivers in real-time along with a teleinformatics
        | analytics on their driving.
        br
        | <strong>Technology Stack</strong>: React.js
    +project('Esurance', 'https://github.com/JJCOINCWEBDEV/esurance', '13th March, 2015 to 30 Aug, 2015')
      dd
        | Aided in development&comma; maintenance of Esurance a teleinformatics
        | system for insurance company for the client <a href="http://www.modusgo.com">Modus</a>
        br
        | <strong>Technology Stack</strong>: Rails, PostgreSQL, Javascript
    +project('Duplii', 'https://github.com/tarkalabs/duplii', '1 Nov, 2014 to 9th March, 2015')
      dd
        | Aided in design&comma; development of Duplii a complete end-to-end
        | solution for automation of mlm business domain.
        br
        | <strong>Technology Stack</strong>: Rails, PostgreSQL, Javascript (React.js, Backbone.js)
    +project('Kreeda', 'https://github.com/tarkalabs/kreeda', '28th Sept, 2014 to 29th Sept, 2014')
      dd
        | Aided in design&comma; development of gamification platform for
        | consumption by others.
        br
        | <strong>Technology Stack</strong>: Clojure, MySQL, Javascript (React.js, Backbone.js)
    +project('Wavecloud', 'https://github.com/tarkalabs/wavecloud', '26th Sept, 2014 to 27th Sept, 2014')
      dd
        | Designed and developed wavecloud that generates & displays audio
        | waveforms of audio files.
        br
        | <strong>Technology Stack</strong>: Node.JS, Google Charts
    +project('TPCH Cassandra Ingest', 'https://github.com/tarkalabs/tpch-cass-ingest', '1st July, 2014 to 30th July, 2014')
      dd
        | Aided in design&comma; development of clojure application that ingests
        | a large tpch dbgen generated database into cassandra&period;
        br
        | <strong>Technology Stack</strong>: Clojure, Cassandra, TPCH DBGen
