.collapsible
  strong Contributions&colon;
  span.glyphicon.glyphicon-triangle-right.text-muted
  dl.projects.collapse
    dt
      a(href='https://github.com/dhruvasagar/vim-railscasts-theme', target='_blank') VIM Railscasts Theme
    dd
      | VIM colorscheme railscasts forked and added terminal
      | support &lpar;256 colors&rpar;&period;
    dt
      a(href='https://github.com/aaronbieber/quicktask', target='_blank') QuickTask
    dd
      | QuickTask is a comprehensive Task Management plugin for VIM&period;
    dt
      a(href='https://github.com/Lokaltog/powerline', target='_blank') Powerline
    dd
      | Powerline is a plugin that provides fancy statuslines for a
      | wide variety of tools like VIM&comma; tmux&comma; shells&comma; etc&period;
    dt
      a(href='https://github.com/maccman/supermodel', target='_blank') SuperModel
    dd
      | SuperModel is a Ruby library providing simple in-memory
      | models&period; Very useful for testing Rails plugins without
      | actually needing to setup &amp; configure a database&period;
      | I used this for testing 
      a(href='https://github.com/dhruvasagar/soulmate_rails', target='_blank') Soulmate Rails 
      | gem&period;
      br
      | <strong>Technology Stack</strong>: Ruby
    dt
      a(href='https://github.com/joestelmach/lint.vim', target='_blank') Lint&period;vim
    dd
      | Lint&period;vim is a VIM plugin provides VIM integration with 
      a(href='http://www.jshint.com', target='_blank') JSHint 
      | &amp; 
      a(href='https://github.com/stubbornella/csslint', target='_blank') CSSLint
      | &period;
    dt
      a(href='https://github.com/samsonw/vim-task', target='_blank') VIM Task
    dd
      | Vim Task is a VIM plugin for very simple task management&period;
    dt
      a(href='https://github.com/lucapette/vim-ruby-doc', target='_blank') VIM Ruby Doc
    dd
      | VIM Ruby Doc is a VIM plugin that enables easy &amp; quick Ruby Doc lookups from within VIM&period;
    dt
      a(href='https://github.com/lucapette/vim-jquery-doc', target='_blank') VIM jQuery Doc
    dd
      | VIM jQuery Doc is a VIM plugin that enables easy &amp; quick jQuery Doc lookups from within VIM&period;
    dt
      a(href='https://github.com/briancollins/vim-jst', target='_blank') VIM JST
    dd
      | VIM JST is a VIM plugin that adds JST support to VIM&period;
