include ../mixins/experience

+company('Artha42 Innovations Pvt. Ltd.', 'Bangalore, India', 'Technical Developer & Mentor', '22nd Feb, 2010 to 30th Sep, 2011 (1.5 years)')
  +project('PHR - Public Health Record', 'https://www.apolloprism.com', '22nd Feb, 2010 to 30th Sep, 2011')
    dd
      | Aided in design&comma; architecture and development of PHR -
      | Public Health Record system designed to serve as a tool for
      | public to store and share their health information&period;
      br
      | <strong>Technology Stack</strong>: Sinatra (Ruby), MongoDB, Beanstalk, Memcached
