.when.pull-right
  | 1st Oct&comma; 2011 to 30th Mar&comma; 2012 &lpar;6 Months&rpar;
.company
  | Dharana Software Innovations Pvt&period; Ltd
.location
  i.icon-map-marker
  | Bangalore&comma; India
br
.designation
  strong Title&colon; 
  | Technical Developer &amp; Mentor
strong Projects&colon;
dl.projects
  dt
    a(href='http://highlightmagic.com', target='_blank') Highlight Magic
    span.text-muted - 1st Dec&comma; 2011 to 30th Mar&comma; 2012
  dd
    | Aided in design &amp; development of Highlight Magic&comma; an advertising platform&period;
  dt
    a(href='http://keeprecruiting.com', target='_blank') Keep Recruiting
    span.text-muted - 1st Nov&comma; 2011 to 30th Mar&comma; 2012
  dd
    | Aided in design &amp; development of Keep Recruiting&comma; an
    | end-to-end recruitment tracking solution&period;
  dt
    a(href='http://auditionmagic.com', target='_blank') Audition Magic
    span.text-muted - 1st Oct&comma; 2011 to 1st Dec&comma; 2011
  dd
    | Aided in design &amp; development of Audition Magic&comma; a
    | platform that enables agents &amp; artists to share and
    | collaborate auditions with clients and for the clients to
    | review and select artists from various auditions they
    | require for different roles&period;
