.when.pull-right
  | 18th Aug&comma; 2006&comma; 4th April&comma; 2008 &lpar;1&period;5 years&rpar;
.company
  | IBM India Pvt&period; Ltd&period;
.location
  i.icon-map-marker
  | Bangalore&comma; India
br
.designation
  strong Title&colon; 
  | Application Programmer
strong Projects&colon;
dl.projects
  dt
    a(href='#', target='_blank') QA Tools Suite
    span.text-muted - 1st Jan&comma; 2007 to 4th April&comma; 2008
  dd
    | Aided in maintenance and development of a suite of tools
    | used internally in IBM for ensuring Quality Assurance of
    | projects&period;
  dt
    a(href='#', target='_blank') CFT&sol;s
    span.text-muted - 18th Aug&comma; 2006 to 1st Jan&comma; 2007
  dd
    | Aided in maintenance and testing of Customer Fulfillment
    | Tool &sol; Services an application fronted with a Java UI and
    | backed by mainframe jobs for processing &amp; analyzing
    | data collected from customers to assess project customer
    | fulfillment within IBM&period;
