.when.pull-right
  | 9th April&comma; 2008 to 19th Feb&comma; 2010 &lpar;2 years&rpar;
.company
  | SAP Labs India Pvt&period; Ltd&period;
.location
  span.glyphicon.glyphicon-map-marker
  | Bangalore&comma; India
br
.designation
  strong Title&colon; 
  | Software Engineer
strong Projects&colon;
dl.projects
  dt
    a(href='#', target='_blank') POA BUI SBC
    span.text-muted - 1st March&comma; 2009 to 19t Feb&comma; 2010
  dd
    | Aided in design &amp; development of Performance
    | Optimization Applications - Business User Interface -
    | Shared Business Component&period;
    | A UI Framework using Adobe Flex technology based on the
    | OSGi framework specification for enabling quick development
    | of business user applications&period;
    br
    | <strong>Technology Stack</strong>: Adobe Flex
  dt
    a(href='#', target='_blank') POA SBC BUC
    span.text-muted - 9th April&comma; 2008 to 28th Feb&comma; 2009
  dd
    | Aided in design &amp; development of Performance
    | Optimization Applications - Shared Business Component -
    | Business User Component&period;
    | A UI component framework using Adobe Flex technology for
    | enabling quick application development&period;
    br
    | <strong>Technology Stack</strong>: Adobe Flex
