include ../mixins/experience

+company('SAP Labs India Pvt. Ltd.', 'Bangalore, India', 'Software Engineer', '9th Apr, 2008 to 19th Feb, 2010 (2 years)')
  +project('POA BUI SBC', '#', '1st Mar, 2009 to 19th Feb, 2010')
    dd
      | Aided in design &amp; development of Performance
      | Optimization Applications - Business User Interface -
      | Shared Business Component&period;
      | A UI Framework using Adobe Flex technology based on the
      | OSGi framework specification for enabling quick development
      | of business user applications&period;
      br
      | <strong>Technology Stack</strong>: Adobe Flex
  +project('POA SBC BUC', '#', '9th Apr, 2008 to 28th Feb, 2009')
    dd
      | Aided in design &amp; development of Performance
      | Optimization Applications - Shared Business Component -
      | Business User Component&period;
      | A UI component framework using Adobe Flex technology for
      | enabling quick application development&period;
      br
      | <strong>Technology Stack</strong>: Adobe Flex
