include ../mixins/experience

+company('Tarka Labs Pvt. Ltd.', 'Chennai, India', 'Technical Architect', '1st July, 2014 till Present <span className="till_present>(1.6 years)</span>')
  +project('Fleet Driver Portal', 'https://github.com/JJCOINCWEBDEV/fleet-dp', '1 Sept, 2015 till Present')
    dd
      | Aided in design&comma; development of Fleet Driver Portal. A portal to
      | keep track of fleet of drivers in real-time along with a teleinformatics
      | analytics on their driving.
      br
      | <strong>Technology Stack</strong>: React.js
  +project('Esurance', 'https://github.com/JJCOINCWEBDEV/esurance', '13th March, 2015 to 30 Aug, 2015')
    dd
      | Aided in development&comma; maintenance of Esurance a teleinformatics
      | system for insurance company for the client <a href="http://www.modusgo.com">Modus</a>
      br
      | <strong>Technology Stack</strong>: Rails, PostgreSQL, Javascript
  +project('Duplii', 'https://github.com/tarkalabs/duplii', '1 Nov, 2014 to 9th March, 2015')
    dd
      | Aided in design&comma; development of Duplii a complete end-to-end
      | solution for automation of mlm business domain.
      br
      | <strong>Technology Stack</strong>: Rails, PostgreSQL, Javascript (React.js, Backbone.js)
  +project('Kreeda', 'https://github.com/tarkalabs/kreeda', '28th Sept, 2014 to 29th Sept, 2014')
    dd
      | Aided in design&comma; development of gamification platform for
      | consumption by others.
      br
      | <strong>Technology Stack</strong>: Clojure, MySQL, Javascript (React.js, Backbone.js)
  +project('Wavecloud', 'https://github.com/tarkalabs/wavecloud', '26th Sept, 2014 to 27th Sept, 2014')
    dd
      | Designed and developed wavecloud that generates & displays audio
      | waveforms of audio files.
      br
      | <strong>Technology Stack</strong>: Node.JS, Google Charts
  +project('TPCH Cassandra Ingest', 'https://github.com/tarkalabs/tpch-cass-ingest', '1st July, 2014 to 30th July, 2014')
    dd
      | Aided in design&comma; development of clojure application that ingests
      | a large tpch dbgen generated database into cassandra&period;
      br
      | <strong>Technology Stack</strong>: Clojure, Cassandra, TPCH DBGen
