include ../mixins/experience

+company('Tarka Labs Pvt. Ltd.', 'Chennai, India', 'Technical Architect', '1st July, 2014 till Present (4 months)')
  +project('Kreeda', 'https://github.com/tarkalabs/kreeda', '28th Sept, 2014 to 29th Sept, 2014')
    dd
      | Aided in design&comma; development of gamification platform for
      | consumption by others.
      br
      | <strong>Technology Stack</strong>: Clojure, MySQL, Javascript (React.js, Backbone.js)
  +project('Wavecloud', 'https://github.com/tarkalabs/wavecloud', '26th Sept, 2014 to 27th Sept, 2014')
    dd
      | Designed and developed wavecloud that generates & displays audio
      | waveforms of audio files.
      br
      | <strong>Technology Stack</strong>: Node.JS, Google Charts
  +project('TPCH Cassandra Ingest', 'https://github.com/tarkalabs/tpch-cass-ingest', '1st July, 2014 to 30th July, 2014')
    dd
      | Aided in design&comma; development of clojure application that ingests
      | a large tpch dbgen generated database into cassandra&period;
      br
      | <strong>Technology Stack</strong>: Clojure, Cassandra, TPCH DBGen
