.educations.panel.panel-default
  .panel-heading
    a#educations
    h4.panel-title
      i.fa.fa-book
      span.title Education
  ul.list-group
    li.list-group-item
      .course
        strong Bachelor of Technology
      .institute
        strong College of Engineering Roorkee
      .specialization
        | Specialization&colon; 
        strong Information Technology
      .location
        span.glyphicon.glyphicon-map-marker
        | Roorkee&comma; Uttranchal
      i.fa.fa-trophy
      | Secured 
      strong 77&period;9&percnt; 
      | overall with 
      strong Honors
    li.list-group-item
      .course
        strong Intermediate
      .institute
        strong Rajhans Vidyalaya
      .location
        span.glyphicon.glyphicon-map-marker
        | Mumbai&comma; Maharashtra
      span.fa.fa-trophy
      | Secured 
      strong 88&period;20&percnt;
    li.list-group-item
      .course
        strong Matriculate
      .institute
        strong Rajhans Vidyalaya
      .location
        span.glyphicon.glyphicon-map-marker
        | Mumbai&comma; Maharashtra
      span.fa.fa-trophy
      | Secured 
      strong 84&period;80&percnt;
