.experiences.panel.panel-default
  .panel-heading
    a#experiences
    h4.panel-title
      i.fa.fa-laptop
      span.title Experience
  ul.list-group
    li.list-group-item
      include experiences/open_source
    li.list-group-item
      include experiences/tarkalabs
    li.list-group-item
      include experiences/activesphere
    li.list-group-item
      include experiences/dharana
    li.list-group-item
      include experiences/artha42
    li.list-group-item
      include experiences/sap
    li.list-group-item
      include experiences/ibm
