doctype html
html
  head
    title Dhruva Sagar
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    block styles
      link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css')
      link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
      link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
      link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
      // link(rel='stylesheet', type='text/css', media='print', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css')
      link(rel='stylesheet', href='css/resume.css')
  body
    .container-fluid
      .row-fluid
        block content
    block scripts
      script(src='http://code.jquery.com/jquery.min.js')
      script(src='http://code.jquery.com/ui/1.10.2/jquery-ui.min.js')
      script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
      script(src='js/resume.js')
