div(data-spy='affix')
  h1 Dhruva Sagar
  img.img-responsive.img-circle(src='img/me.jpg', alt='Dhruva Sagar', width='100')
  .objective
    p
      | I have over 7 years&apos; industry experience in software design&comma; 
      | architecture &amp; development&period;
    p
      | I am a hacker at heart and love to learn new things and play 
      | around with others&apos; code&period;
    p
      | Currently I specialize on working with 
      strong Ruby 
      | &amp; 
      strong Javascript 
      | &lpar;also 
      strong CoffeeScript
      | &rpar;&period;
    p
      | I have worked extensively with these frameworks&colon;  
      a(href='http://rubyonrails.org', target='_blank') Ruby on Rails
      | &comma; 
      a(href='http://sinatrarb.com', target='_blank') Sinatra
      | &comma; 
      a(href='http://expressjs.com', target='_blank') Express
      | &period;
    p
      | I have also worked considerably with&colon; 
      a(href='http://jquery.com', target='_blank') jQuery
      | &comma; 
      a(href='http://jqueryui.com', target='_blank') jQuery UI
      | &comma; 
      a(href='http://backbonejs.org', target='_blank') Backbone&period;js
      | &comma; 
      a(href='http://underscorejs.org', target='_blank') Underscore&period;js
      | &comma; 
      a(href='http://getbootstrap.com', target='_blank') Bootstrap
      | &comma; 
      a(href='http://knockoutjs.com', target='_blank') Knockout&period;js
      | &comma; 
      a(href='http://nodejs.org', target='_blank') Node&period;js
      | &comma; 
      a(href='http://mongodb.org', target='_blank') MongoDB
      | &comma; 
      a(href='http://mysql.com', target='_blank') MySQL
      | &period;
  hr
  include contact
