.skills.panel.panel-default
  .panel-heading
    a#skills
    h4.panel-title
      span.glyphicon.glyphicon-flash
      span.title Skills
  .panel-body
    .row
      .col-md-4
        dl
          dt Git
          dd
            .progress
              .progress-bar(role='progressbar', aria-valuenow='8', aria-valuemin='0', aria-valuemax='10', style='width: 80%;')
                span
                  | 8&sol;10
          dt Ruby
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='7', aria-valuemin='0', aria-valuemax='10', style='width: 70%;')
                span
                  | 7&sol;10
          dt Ruby on Rails
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='7', aria-valuemin='0', aria-valuemax='10', style='width: 70%;')
                span
                  | 7&sol;10
          dt jQuery
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='9', aria-valuemin='0', aria-valuemax='10', style='width: 90%;')
                span
                  | 9&sol;10
      .col-md-4
        dl
          dt JavaScript
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='7', aria-valuemin='0', aria-valuemax='10', style='width: 70%;')
                span
                  | 7&sol;10
          dt Knockout&period;js
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='6', aria-valuemin='0', aria-valuemax='10', style='width: 60%;')
                span
                  | 6&sol;10
          dt MongoDB
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='6', aria-valuemin='0', aria-valuemax='10', style='width: 60%;')
                span
                  | 6&sol;10
          dt Redis
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='7', aria-valuemin='0', aria-valuemax='10', style='width: 70%;')
                span
                  | 7&sol;10
      .col-md-4
        dl
          dt MySQL
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='8', aria-valuemin='0', aria-valuemax='10', style='width: 80%;')
                span
                  | 8&sol;10
          dt Resque
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='8', aria-valuemin='0', aria-valuemax='10', style='width: 80%;')
                span
                  | 8&sol;10
          dt Linux
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='8', aria-valuemin='0', aria-valuemax='10', style='width: 80%;')
                span
                  | 8&sol;10
          dt TDD
          dd
            .progress
              .progress-bar(role='progressbar', aira-valuenow='7', aria-valuemin='0', aria-valuemax='10', style='width: 70%;')
                span
                  | 7&sol;10
