include mixins/skill

.skills.panel.panel-default
  .panel-heading
    a#skills
    h4.panel-title
      span.glyphicon.glyphicon-flash
      span.title Skills
  .panel-body
    .row
      .col-md-4
        dl
          +skill('Git', 8)
          +skill('Ruby', 7)
          +skill('Clojure', 6)
          +skill('Ruby on Rails', 7)
          +skill('jQuery', 9)
          +skill('RabbitMQ', 5)
      .col-md-4
        dl
          +skill('JavaScript', 7)
          +skill('KnockOut.js', 6)
          +skill('React.js', 7)
          +skill('MongoDB', 6)
          +skill('Redis', 7)
      .col-md-4
        dl
          +skill('MySQL', 7)
          +skill('Resque', 8)
          +skill('Cassandra', 5)
          +skill('Linux', 8)
          +skill('TDD', 7)
