include mixins/skill

.skills
  h2.title.text-danger Skills
  div
    .col-md-4
      dl
        +skill('Git', 8)
        +skill('Ruby', 7)
        +skill('Clojure', 6)
        +skill('RoR', 7)
        +skill('Haskell', 4)
    .col-md-4
      dl
        +skill('JavaScript', 7)
        +skill('React.js', 7)
        +skill('MongoDB', 6)
        +skill('Redis', 7)
        +skill('Elixir', 5)
    .col-md-4
      dl
        +skill('MySQL', 7)
        +skill('Redis', 6)
        +skill('Cassandra', 5)
        +skill('Linux', 8)
        +skill('RabbitMQ', 5)
