mixin skill(label, rating)
  dt= label
  dd
    .progress
      .progress-bar(role='progressbar', aria-valuenow='#{rating}', aria-valuemin='0', aria-valuemax='10', style='width: #{rating * 10}%')
        span
          | #{rating}&sol;10

.skills.panel.panel-default
  .panel-heading
    a#skills
    h4.panel-title
      span.glyphicon.glyphicon-flash
      span.title Skills
  .panel-body
    .row
      .col-md-4
        dl
          +skill('Git', 8)
          +skill('Ruby', 7)
          +skill('Ruby on Rails', 7)
          +skill('jQuery', 9)
      .col-md-4
        dl
          +skill('JavaScript', 7)
          +skill('KnockOut.js', 6)
          +skill('MongoDB', 6)
          +skill('Redis', 7)
      .col-md-4
        dl
          +skill('MySQL', 7)
          +skill('Resque', 8)
          +skill('Linux', 8)
          +skill('TDD', 7)
