.contact.row
  .email.col-md-3
    span.glyphicon.glyphicon-envelope &nbsp;
    a(href='mailto:dhruva.sagar@protonmail.com', target='_blank') dhruva&period;sagar&commat;protonmail&period;com
  .site.col-md-3
    span.glyphicon.glyphicon-link &nbsp;
    a(href='https://dhruvasagar.com', target='_blank') https&colon;&sol;&sol;dhruvasagar&period;com
  .location.col-md-3
    span.glyphicon.glyphicon-map-marker &nbsp;
    a(href='https://www.google.co.in/maps/place/Bengaluru,+Karnataka+560001/@12.9542946,77.4908515,11z/data=!3m1!4b1!4m5!3m4!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9715987!4d77.5945627?hl=en', target='_blank') Bangalore, India
