include mixins/education

.educations
  h2.title.text-danger Education
  div
    +education('B. Tech', 'College Of Engineering Roorkee', 'Information Technology', 'Roorkee, Uttranchal', 77.9)
      | overall with 
      strong Honors
    +education('Intermediate', 'Rajhans Vidyalaya', 'Science', 'Mumbai, Maharastra', 88.20)
    +education('Matriculate', 'Rajhans Vidyalaya', 'PCM + Computers', 'Mumbai, Maharashtra', 84.80)
