.experiences
  .row
    h2.title.text-danger Experience 
      span.pull-right (~15 years)
    // include experiences/open_source
    include experiences/tarkalabs
    include experiences/activesphere
    include experiences/dharana
    include experiences/artha42
    include experiences/sap
    include experiences/ibm
