.container-fluid(style='margin-bottom: 10px;')
  ul.nav.nav-pills.hidden-print
    li.active
      a(href='#experiences') Experience
    li
      a(href='#educations') Education
    li
      a(href='#skills') Skills
